
 
    <h1 style="color:#0085B2;">Please Login</h1>
    <p>Please enter your your email address and password.</p>
   
    <form method="POST" action='/sessions'>
    <label for "email">Email:</label>
    <input type="text" placeholder="Enter" id="email" name="email"  required>


    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password" required>

    
    <button type="submit" id="submit" class="registerbtn" value="Log In">Submit</button>
    </form>

  <div class="container signin">
    <p>Forgot Your Password? <a href="#">Click Here and Your Password will be sent to the email address you registered with PILLPOP</a>.</p>
  </div>
