<!DOCTYPE html>

<h3><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
</h3>

<br>

<h1 style="color:#0085B2;"> Login </h1>
<hr>
    <form action="/login" method="POST">
    <input type="text" class="form-control input-sm chat-input" name="username" placeholder="Username:"/>
    </br>
    <input type="password" class="form-control input-sm chat-input" name="password" placeholder="Password:"/>
    </br>

    <div class="wrapper">
    <span class="group-btn">
    <input type="submit" value="Login" class="btn btn-primary btn-md"/>
    <br>
    <br>
    <a href='/index' class="btn btn-primary btn-md">Home</a>
    </span>
    </div>
    </form>
