
  <form action='/registrations' method="POST">
     <h1 style="color:#0085B2;">Welcome to PILPOP</h1>
		<h3>Please fill out the form below to create a new account</h3>
    <hr>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <!--<label for="password-repeat">Repeat Password</label>
    <input type="password" id="password" placeholder="Repeat Password" name="password-repeat" required>-->
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

</form>


      <footer class="branding">
        <small>&copy; 2020 <strong>Pillpop</strong></small>
      </footer>
    </div>
  </body>
</html>