<!DOCTYPE html>

<h1 style="color:#0085B2;" > New Medication </h1>
<h3>Add New Prescriptions, The Dosage Amount, and the Time of Day </h3>
<hr>
<form action="/medications" method="POST">


<input id="medication" type="text" class="form-control input-sm chat-input" name="medication" placeholder="Medication" />
<br>
<!--<input id="dosage" type="text" class="form-control input-sm chat-input" name="dosage" placeholder="Dosage" />-->
<br>
<div class="wrapper">
<span class="group-btn">
<input id= "medication" type="submit" value="Add New Medication" class="btn btn-primary btn-md"/>
</span>
</div>
