<!DOCTYPE html>

<!-- logo needs to go here -->
<hr>

<h1 style="color:#0085B2;">Welcome to PILLPoP</h1>

<br>

<h3 style="color:#0085B2;" >This app is designed to help patience keep track of their daily medications and dosages.</h3>

<br>
<br>
<span class="group-btn">
<h2>
<h4>Please Click Below to Register</h4>
<a href="/signup" class="btn btn-lg btn-primary btn-block btn-signin">Sign Up </a>
<h4>If You Already Have an Account, Please Click Below to Login</h4>
<a href="/login" class="btn btn-lg btn-primary btn-block btn-signin" >Log In </a>
</h2>
</span>

