<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/vYhdqqq/favicon-32x32.png>
    <title>PillPoP</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
  <br>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/q1FVv5x/pillpoplogo.gif" alt="pillpoplogo" border="20" hspace="20"></a>
    <div class="container-fluid">

      <%=yield%>

    </div>
<br>
    <footer class="branding">
      <small>&copy; 2020 <strong>PillPoP.com</strong></small>
    </footer>
  </div>

  </body>
</html>
