

 	<h1 style="color:#0085B2;">Welcome to PILLPoP</h1>
		<h3>This app is designed to help patients keep track of their daily medication dosage.</h3>
    <hr>
		<h4>If You Already Have an Account, Please Click Below to Login</h4>

		<button type="button" class="registerbtn" onclick="window.location.href = 'sessions/login';">Login</button>
		
		<h4>Please Click Below to Register</h4>
    
    <button type="button" class="registerbtn" onclick="window.location.href = 'registrations/signup';"> Register</button>
  </div>



